/* ==========================================================================
    #BORDERS
   ========================================================================== */

.border        { border: $border-width solid $border-color; }
.border-top    { border-top: $border-width solid $border-color; }
.border-bottom { border-bottom: $border-width solid $border-color; }
.border-left   { border-left: $border-width solid $border-color; }
.border-right  { border-right: $border-width solid $border-color; }
.border-none   { border: none; }

/*
  BORDER RADII
*/

.square  { border-radius: 0; }
.circle  { border-radius: 100%; }

.rounded        { border-radius: $border-radius; }
.rounded-top    { border-radius: $border-radius $border-radius 0 0; }
.rounded-bottom { border-radius: 0 0 $border-radius $border-radius; }
.rounded-left   { border-radius: $border-radius 0 0 $border-radius; }
.rounded-right  { border-radius: 0 $border-radius $border-radius 0; }

/*
  OTHER
*/

.outline-none { outline: 0; }
