/* ==========================================================================
    #ICONS
   ========================================================================== */

.icon-small   { width: $spacing-unit-large; } // by default, 24px e.g. standard UI icon
.icon-medium  { width: $spacing-unit-large + $spacing-unit-medium; } // by default, 36px e.g. navbar avatar
.icon-large   { width: $spacing-unit-x-large; } // by default, 48px e.g. default avatar
.icon-x-large { width: 10 * $spacing-unit-medium; } // by default, 120px e.g. profile avatar
