/* ==========================================================================
    #MARGIN
   ========================================================================== */

/*
  Base:
    m = margin

  Modifiers:
    b = bottom
    r = right

    0 = none
    1 = tiny
    2 = small
    3 = medium
    4 = large
    5 = x-large

  Media Query Extensions (mobile-first):
   -m = at medium viewports
   -l = at large viewports

  Docs:
    Margins are applied only in one-direction per axis
      There are no margin-top or margin-left classes.
      https://csswizardry.com/2012/06/single-direction-margin-declarations/
*/

.mb0 { margin-bottom: 0; }
.mb1 { margin-bottom: $spacing-unit-tiny; }
.mb2 { margin-bottom: $spacing-unit-small; }
.mb3 { margin-bottom: $spacing-unit-medium; }
.mb4 { margin-bottom: $spacing-unit-large; }
.mb5 { margin-bottom: $spacing-unit-x-large; }

.mr0 { margin-right: 0; }
.mr1 { margin-right: $spacing-unit-tiny; }
.mr2 { margin-right: $spacing-unit-small; }
.mr3 { margin-right: $spacing-unit-medium; }
.mr4 { margin-right: $spacing-unit-large; }
.mr5 { margin-right: $spacing-unit-x-large; }

@media (min-width: $breakpoint-small) {
  .mb0-m { margin-bottom: 0; }
  .mb1-m { margin-bottom: $spacing-unit-tiny; }
  .mb2-m { margin-bottom: $spacing-unit-small; }
  .mb3-m { margin-bottom: $spacing-unit-medium; }
  .mb4-m { margin-bottom: $spacing-unit-large; }
  .mb5-m { margin-bottom: $spacing-unit-x-large; }

  .mr0-m { margin-right: 0; }
  .mr1-m { margin-right: $spacing-unit-tiny; }
  .mr2-m { margin-right: $spacing-unit-small; }
  .mr3-m { margin-right: $spacing-unit-medium; }
  .mr4-m { margin-right: $spacing-unit-large; }
  .mr5-m { margin-right: $spacing-unit-x-large; }
}

@media (min-width: $breakpoint-medium) {
  .mb0-l { margin-bottom: 0; }
  .mb1-l { margin-bottom: $spacing-unit-tiny; }
  .mb2-l { margin-bottom: $spacing-unit-small; }
  .mb3-l { margin-bottom: $spacing-unit-medium; }
  .mb4-l { margin-bottom: $spacing-unit-large; }
  .mb5-l { margin-bottom: $spacing-unit-x-large; }

  .mr0-l { margin-right: 0; }
  .mr1-l { margin-right: $spacing-unit-tiny; }
  .mr2-l { margin-right: $spacing-unit-small; }
  .mr3-l { margin-right: $spacing-unit-medium; }
  .mr4-l { margin-right: $spacing-unit-large; }
  .mr5-l { margin-right: $spacing-unit-x-large; }
}
