/* ==========================================================================
    #PADDING
   ========================================================================== */

/*
  Base:
    p = padding

  Modifiers:
    x = horizontal
    y = vertical
    t = top
    b = bottom
    l = left
    r = right

    0 = none
    1 = tiny
    2 = small
    3 = medium
    4 = large
    5 = x-large

  Media Query Extensions (mobile-first):
   -m = at medium viewports
   -l = at large viewports
*/

.p0 { padding: 0; }
.p1 { padding: $spacing-unit-tiny; }
.p2 { padding: $spacing-unit-small; }
.p3 { padding: $spacing-unit-medium; }
.p4 { padding: $spacing-unit-large; }
.p5 { padding: $spacing-unit-x-large; }

.py0 { padding-top: 0; padding-bottom: 0; }
.py1 { padding-top: $spacing-unit-tiny;    padding-bottom: $spacing-unit-tiny; }
.py2 { padding-top: $spacing-unit-small;   padding-bottom: $spacing-unit-small; }
.py3 { padding-top: $spacing-unit-medium;  padding-bottom: $spacing-unit-medium; }
.py4 { padding-top: $spacing-unit-large;   padding-bottom: $spacing-unit-large; }
.py5 { padding-top: $spacing-unit-x-large; padding-bottom: $spacing-unit-x-large; }

.pt0 { padding-top: 0; }
.pt1 { padding-top: $spacing-unit-tiny; }
.pt2 { padding-top: $spacing-unit-small; }
.pt3 { padding-top: $spacing-unit-medium; }
.pt4 { padding-top: $spacing-unit-large; }
.pt5 { padding-top: $spacing-unit-x-large; }

.pb0 { padding-bottom: 0; }
.pb1 { padding-bottom: $spacing-unit-tiny; }
.pb2 { padding-bottom: $spacing-unit-small; }
.pb3 { padding-bottom: $spacing-unit-medium; }
.pb4 { padding-bottom: $spacing-unit-large; }
.pb5 { padding-bottom: $spacing-unit-x-large; }

.px0 { padding-left: 0; padding-right: 0; }
.px1 { padding-left: $spacing-unit-tiny;    padding-right: $spacing-unit-tiny; }
.px2 { padding-left: $spacing-unit-small;   padding-right: $spacing-unit-small; }
.px3 { padding-left: $spacing-unit-medium;  padding-right: $spacing-unit-medium; }
.px4 { padding-left: $spacing-unit-large;   padding-right: $spacing-unit-large; }
.px5 { padding-left: $spacing-unit-x-large; padding-right: $spacing-unit-x-large; }

.pl0 { padding-left: 0; }
.pl1 { padding-left: $spacing-unit-tiny; }
.pl2 { padding-left: $spacing-unit-small; }
.pl3 { padding-left: $spacing-unit-medium; }
.pl4 { padding-left: $spacing-unit-large; }
.pl5 { padding-left: $spacing-unit-x-large; }

.pr0 { padding-right: 0; }
.pr1 { padding-right: $spacing-unit-tiny; }
.pr2 { padding-right: $spacing-unit-small; }
.pr3 { padding-right: $spacing-unit-medium; }
.pr4 { padding-right: $spacing-unit-large; }
.pr5 { padding-right: $spacing-unit-x-large; }

@media (min-width: $breakpoint-small) {
  .p0-m { padding: 0; }
  .p1-m { padding: $spacing-unit-tiny; }
  .p2-m { padding: $spacing-unit-small; }
  .p3-m { padding: $spacing-unit-medium; }
  .p4-m { padding: $spacing-unit-large; }
  .p5-m { padding: $spacing-unit-x-large; }

  .py0-m { padding-top: 0; padding-bottom: 0; }
  .py1-m { padding-top: $spacing-unit-tiny;    padding-bottom: $spacing-unit-tiny; }
  .py2-m { padding-top: $spacing-unit-small;   padding-bottom: $spacing-unit-small; }
  .py3-m { padding-top: $spacing-unit-medium;  padding-bottom: $spacing-unit-medium; }
  .py4-m { padding-top: $spacing-unit-large;   padding-bottom: $spacing-unit-large; }
  .py5-m { padding-top: $spacing-unit-x-large; padding-bottom: $spacing-unit-x-large; }

  .pt0-m { padding-top: 0; }
  .pt1-m { padding-top: $spacing-unit-tiny; }
  .pt2-m { padding-top: $spacing-unit-small; }
  .pt3-m { padding-top: $spacing-unit-medium; }
  .pt4-m { padding-top: $spacing-unit-large; }
  .pt5-m { padding-top: $spacing-unit-x-large; }

  .pb0-m { padding-bottom: 0; }
  .pb1-m { padding-bottom: $spacing-unit-tiny; }
  .pb2-m { padding-bottom: $spacing-unit-small; }
  .pb3-m { padding-bottom: $spacing-unit-medium; }
  .pb4-m { padding-bottom: $spacing-unit-large; }
  .pb5-m { padding-bottom: $spacing-unit-x-large; }

  .px0-m { padding-left: 0; padding-right: 0; }
  .px1-m { padding-left: $spacing-unit-tiny;    padding-right: $spacing-unit-tiny; }
  .px2-m { padding-left: $spacing-unit-small;   padding-right: $spacing-unit-small; }
  .px3-m { padding-left: $spacing-unit-medium;  padding-right: $spacing-unit-medium; }
  .px4-m { padding-left: $spacing-unit-large;   padding-right: $spacing-unit-large; }
  .px5-m { padding-left: $spacing-unit-x-large; padding-right: $spacing-unit-x-large; }

  .pl0-m { padding-left: 0; }
  .pl1-m { padding-left: $spacing-unit-tiny; }
  .pl2-m { padding-left: $spacing-unit-small; }
  .pl3-m { padding-left: $spacing-unit-medium; }
  .pl4-m { padding-left: $spacing-unit-large; }
  .pl5-m { padding-left: $spacing-unit-x-large; }

  .pr0-m { padding-right: 0; }
  .pr1-m { padding-right: $spacing-unit-tiny; }
  .pr2-m { padding-right: $spacing-unit-small; }
  .pr3-m { padding-right: $spacing-unit-medium; }
  .pr4-m { padding-right: $spacing-unit-large; }
  .pr5-m { padding-right: $spacing-unit-x-large; }
}

@media (min-width: $breakpoint-medium) {
  .p0-l { padding: 0; }
  .p1-l { padding: $spacing-unit-tiny; }
  .p2-l { padding: $spacing-unit-small; }
  .p3-l { padding: $spacing-unit-medium; }
  .p4-l { padding: $spacing-unit-large; }
  .p5-l { padding: $spacing-unit-x-large; }

  .py0-l { padding-top: 0; padding-bottom: 0; }
  .py1-l { padding-top: $spacing-unit-tiny;    padding-bottom: $spacing-unit-tiny; }
  .py2-l { padding-top: $spacing-unit-small;   padding-bottom: $spacing-unit-small; }
  .py3-l { padding-top: $spacing-unit-medium;  padding-bottom: $spacing-unit-medium; }
  .py4-l { padding-top: $spacing-unit-large;   padding-bottom: $spacing-unit-large; }
  .py5-l { padding-top: $spacing-unit-x-large; padding-bottom: $spacing-unit-x-large; }

  .pt0-l { padding-top: 0; }
  .pt1-l { padding-top: $spacing-unit-tiny; }
  .pt2-l { padding-top: $spacing-unit-small; }
  .pt3-l { padding-top: $spacing-unit-medium; }
  .pt4-l { padding-top: $spacing-unit-large; }
  .pt5-l { padding-top: $spacing-unit-x-large; }

  .pb0-l { padding-bottom: 0; }
  .pb1-l { padding-bottom: $spacing-unit-tiny; }
  .pb2-l { padding-bottom: $spacing-unit-small; }
  .pb3-l { padding-bottom: $spacing-unit-medium; }
  .pb4-l { padding-bottom: $spacing-unit-large; }
  .pb5-l { padding-bottom: $spacing-unit-x-large; }

  .px0-l { padding-left: 0; padding-right: 0; }
  .px1-l { padding-left: $spacing-unit-tiny;    padding-right: $spacing-unit-tiny; }
  .px2-l { padding-left: $spacing-unit-small;   padding-right: $spacing-unit-small; }
  .px3-l { padding-left: $spacing-unit-medium;  padding-right: $spacing-unit-medium; }
  .px4-l { padding-left: $spacing-unit-large;   padding-right: $spacing-unit-large; }
  .px5-l { padding-left: $spacing-unit-x-large; padding-right: $spacing-unit-x-large; }

  .pl0-l { padding-left: 0; }
  .pl1-l { padding-left: $spacing-unit-tiny; }
  .pl2-l { padding-left: $spacing-unit-small; }
  .pl3-l { padding-left: $spacing-unit-medium; }
  .pl4-l { padding-left: $spacing-unit-large; }
  .pl5-l { padding-left: $spacing-unit-x-large; }

  .pr0-l { padding-right: 0; }
  .pr1-l { padding-right: $spacing-unit-tiny; }
  .pr2-l { padding-right: $spacing-unit-small; }
  .pr3-l { padding-right: $spacing-unit-medium; }
  .pr4-l { padding-right: $spacing-unit-large; }
  .pr5-l { padding-right: $spacing-unit-x-large; }
}
