/* ==========================================================================
    #POSITION & Z-INDICES
   ========================================================================== */

.static   { position: static; }
.relative { position: relative; }
.absolute { position: absolute; }
.fixed    { position: fixed; }

/*
  'PINNED' POSITION
  Base:
   -0 suffix = pin to a given aspect

  Modifiers:
    top
    right
    bottom
    left
*/

.top-0    { top: 0; }
.right-0  { right: 0; }
.bottom-0 { bottom: 0; }
.left-0   { left: 0; }

/*
  Z-INDICES
  Base:
    z = z-index

  Modifiers:
    0 = bottom
    1 = below
    2 = level
    3 = above
    4 = near
    5 = top
    6 = everest
*/

.z0 { z-index: -10; }
.z1 { z-index: -5; }
.z2 { z-index: 0; }
.z3 { z-index: 5; }
.z4 { z-index: 10; }
.z5 { z-index: 15; }
.z6 { z-index: 20; }
