/* ==========================================================================
   #LIST-INLINE
   ========================================================================== */

// Replace List Bullets
/* ==================================== */

.list-bullet {
  margin-left: 0;
  > li {
    list-style: initial;
  }
}

// List Flush Left
/* ==================================== */
// removes padding and left margin from ul elements

.list-flush-left {
  margin-left: 0;
  padding-left: 0;
}
